<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Unity WebGL Player | PanoramicObservation</title>
    <link rel="shortcut icon" th:href="@{/TemplateData/favicon.ico}" href="../../static/TemplateData/favicon.ico">
    <link rel="stylesheet" th:href="@{/TemplateData/style.css}" href="../../static/TemplateData/style.css">
    <script th:src="@{/TemplateData/UnityProgress.js}" src="../../static/TemplateData/UnityProgress.js"></script>
    <script th:src="@{/Build/UnityLoader.js}" src="../../static/Build/UnityLoader.js"></script>
    <script>
      var gameInstance = UnityLoader.instantiate("gameContainer", "../Build/WebTest.json", {onProgress: UnityProgress});
    </script>
  </head>
  <body>
    <div class="webgl-content">
      <div id="gameContainer" style="width: 960px; height: 600px"></div>
      <div class="footer">
        <div class="webgl-logo"></div>
        <div class="fullscreen" onclick="gameInstance.SetFullscreen(1)"></div>
        <div class="title">PanoramicObservation</div>
      </div>
    </div>
  </body>
</html>